<div class="flex">
    <div class="flex-shrink-0 mr-3">
        <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10"
            src="http://i.pravatar.cc/199"
            alt="">
    </div>
    <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
        <strong>{{user.username}}</strong> <span class="text-xs text-gray-400">{{format_date date_created}}</span>
        <p class="text-sm">
            {{content}}
        </p>
    </div>
</div>