<h2 class="text-2xl lg:text-5xl font-bold leading-tight mb-2 text-black text-center mt-10">
    Discover
</h2>
<section class="flex flex-row flex-wrap justify-center items-center antialiased bg-white-900 text-gray-200 min-h-screen">
    {{#each sixBlogs}}
    {{> home-blog-cards}}
    {{/each}}
</section>