<div class="flex flex-row flex-wrap justify-between mtme:justify-center px-6 md:px-52 items-center">
    <h2 class="text-3xl lg:text-5xl font-bold leading-tight mb-8 text-black mt-10">
        My Posts
    </h2>
    <a class="justify-self-end block px-5 py-2.5 text-sm font-medium text-white bg-teal-600 hover:bg-teal-500 transition rounded-md shadow h-10 mtme:mb-6"
        href="/posts/create">
        Create a Post
    </a>
</div>
<div class="flex justify-center">
    <hr class="border-b-2 border-gray-400 mx-4 w-11/12 md:w-4/5">
</div>
<section class="flex flex-row flex-wrap justify-center items-center antialiased bg-white-900 text-gray-200 min-h-1/2">
    {{#each userPosts}}
    {{> homeBlogCard}}
    {{/each}}
</section>